.project-list {
    display: flex;
    flex-direction: column;    
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* margin: 10pt 0pt; */
}

.tech-list {
    display: flex;
    font-size: larger;
    width: 100%;
    align-items: stretch;
}

.tech-list * {
    /* width: 60%; */
    margin-bottom: 4pt;
    flex: 1;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .tech-list  {
        flex-direction: column; 
    }
}

.project-image {
    margin-bottom: 5pt;
}

img {
    float: left;
}

figcaption {
    text-align: left;
    font-weight: bold;
    color: grey;
    font-size: 14px;
}

.project-title {
    text-align: left;
    font-weight: bold;
    font-size: x-large;
}

.project-duration {
    text-align: left;
    color: grey;
    font-size: large;
}

.project-summary {
    text-align: left;
    padding-top: 10pt;
    padding-bottom: 5pt;
    font-weight: normal;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    float: left;
}

.tools * {
    padding: 4pt 6pt;
    color: grey;
    /* border-radius: 6pt; */
    margin: 5pt 2pt;
    border: 1px solid darkgrey;
    box-shadow: 1px 1px darkgrey;
    /* overflow-x: auto; */
    font-weight: bold;
}

hr {
    color: #e8e8e8;
    width: 15%;
    border-width: 1px;
    align-self: center;
    margin: 20pt 0;
}



ul {
    list-style-position: inside;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: grey;
    font-size: larger;
    font-weight: lighter;
    border: 1px solid darkgrey;
    box-shadow: 1px 1px darkgrey;
    width: max-content;
    padding: 8pt;

}
